[Unit]
Description="Update agent for OTA updates"

[Service]
Type=simple
User=sad
Group=sad
Restart=always
RestartSec=2
ExecStart=/bin/sh -c ". /opt/ros/galactic/setup_fog.sh; /opt/ros/galactic/bin/update-agent --ros-args --remap __ns:=/$DRONE_DEVICE_ID"

[Install]
WantedBy=multi-user.target
