[Unit]
Description="DepthAI Gstreamer ROS2 node"
Requires=depthai_ctrl.service
After=depthai_ctrl.service

[Service]
Type=simple
User=sad
Group=sad
Restart=always
RestartSec=10
ExecStart=/bin/sh -c ". /opt/ros/galactic/setup_fog.sh; /opt/ros/galactic/lib/depthai_ctrl/gstreamer_node --ros-args --remap __ns:=/$DRONE_DEVICE_ID -p address:=$RTSP_SERVER_ADDRESS/$DRONE_DEVICE_ID"

[Install]
WantedBy=multi-user.target
