[Unit]
Description=MAVLink Router
Requires=mesh.service
After=mesh.service

[Service]
Type=simple
User=sad
Group=sad
ExecStart=/usr/bin/mavlink-routerd
Restart=on-failure

[Install]
WantedBy=multi-user.target
