[Unit]
Description="Mesh Init Service"
After=network-online.target
Requires=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStartPre=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh;/opt/ros/foxy/share/bin/mesh-ibss.sh ap"
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh; /opt/ros/foxy/lib/mesh_com/mesh_executor"

[Install]
WantedBy=multi-user.target
