[Unit]
Description=Octomap and Navigation
Requires=mesh.service rplidar.service
After=mesh.service rplidar.service

[Service]
Type=simple
User=sad
Group=sad
Restart=always
RestartSec=2
ExecStart=/bin/sh -c ". /opt/ros/foxy/setup_fog.sh; ros2 launch navigation octomap_and_navigation.py"
Restart=on-failure
RestartSec=1s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
